$orange: rgba(255, 107, 8, 1);
$mint: rgba(46, 211, 228, 1);
$dark-blue: rgba(24, 28, 39, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$grey: rgba(162, 162, 162, 1);
$dark-grey: rgba(32, 32, 32, 1);
$foot-grey: rgba(101, 102, 106, 1);

$text-color: rgba(63, 65, 68, 1);
$s9-screen-sm-min: 480px;
$s9-screen-md-min: 768px;
$s9-screen-lg-min: 960px;
$s9-screen-xl-min: 1200px;
$s9-screen-xxl-min: 1440px;
$s9-orange-btn-shadow: 0px 3px 4px 0px rgba(196, 87, 15, 0.26);

$s17-blue-bg : rgba(5, 33, 57, 1);